#title{
    background-color: #ff4c68;
}
body{
    font-family: "Montserrat";
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 5%;
}
h1{
    font-family: "Montserrat-black", sans-serif;
font-size: 3.5rem;
line-height: 1.5;
}
h2{
    font-family: "Montserrat-bold",sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-bold", sans-serif;
}
p{
    color: grey;
    text-align: center;
}
/* navigation-bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light", sans-serif;
}
/* download-button */
.download-button{
    margin: 5% 3% 5% 0%;
}
/* Title-img */
.Title-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
/* features-section */
/* In this features section if we do not apply z-index then also it can work as by following the flowchart properties provided by angela yu */

#features{
    color: black;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color:#ef8172;
    padding-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
/* Testimonial */
#testimonials{
    color: #fff;
    
    text-align: center;
    background-color: #ef8172;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
/* press */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing */
#pricing{
    color: black;
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding:3% 2% ;
}

/* cta */
#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
font-family: "Montserrat-black", sans-serif;
font-size: 3.5rem;
line-height: 1.5;
}

/* footer */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    color: grey;
    margin: 20px 10px;
}


@media (max-width:1028px)
{
    #title{
        text-align: center;
    }
    .Title-img{
        position:static;
        transform: rotate(0);
    }
    
}